html {
  font-size: 12px;
  background-color: #f9f8f6; }

@media (min-width: 551px) {
  header #head_case {
    padding-top: 25px;
    padding-bottom: 25px; }
    header #head_case .logo {
      padding-top: 15px;
      width: 48%; }
      header #head_case .logo h1 {
        margin-bottom: 0; }
      header #head_case .logo .pclogo {
        display: block; }
      header #head_case .logo .splogo {
        display: none; } }
@media (max-width: 550px) {
  header .logo {
    padding-top: 5px;
    width: 100%; }
    header .logo h1 {
      margin-bottom: 0;
      text-align: center; }
    header .logo .pclogo {
      display: none; }
    header .logo .splogo {
      display: inline-block; } }
@media (min-width: 551px) {
  header .navi {
    padding-top: 40px;
    height: 80px; }
    header .navi .pc_navi {
      display: flex;
      float: right; }
      header .navi .pc_navi .pc_navi_li {
        padding-right: 15px; }
      header .navi .pc_navi ul {
        list-style: none;
        letter-spacing: 10px; }
        header .navi .pc_navi ul li {
          display: inline-block; }
    header .navi .sp_navi {
      display: none; } }
@media (max-width: 550px) {
  header .navi {
    width: 100%;
    margin-left: initial; }
    header .navi .pc_navi {
      display: none; }
    header .navi .sp_navi {
      text-align: center; }
      header .navi .sp_navi #sp_navi_btn {
        cursor: pointer; }
      header .navi .sp_navi .sp_sns_navi {
        list-style: none;
        letter-spacing: 20px;
        margin-bottom: 0; }
        header .navi .sp_navi .sp_sns_navi li {
          display: inline-block; }
      header .navi .sp_navi .sp_navi_li {
        list-style: none;
        border: 1px solid #eee;
        background-color: white;
        position: static;
        display: none; }
        header .navi .sp_navi .sp_navi_li li {
          margin-bottom: 0; }
          header .navi .sp_navi .sp_navi_li li a {
            display: block;
            border-bottom: 1px solid #eee;
            text-decoration: none;
            color: #524c3e;
            font-size: 30px; } }

.pan_box {
  width: 100%;
  background-color: #e8e4da;
  border-radius: 3px; }
  .pan_box ul {
    list-style: none;
    margin-bottom: 10px;
    padding-left: 10px; }
  .pan_box li {
    display: inline-block;
    margin: 5px 0; }
  .pan_box a {
    color: #524c3e;
    font-size: 11px;
    text-decoration: none; }

@media (max-width: 550px) {
  .pan_box {
    width: auto;
    margin: 0 15px; } }
.main_box {
  background-color: white;
  padding: 60px;
  padding-top: 40px; }
  @media (min-width: 551px) {
    .main_box .main_left {
      font-weight: bold;
      font-size: 12px;
      text-align: left;
      float: left; }
      .main_box .main_left p {
        margin-bottom: 0; }
    .main_box .main_right {
      font-size: 10px;
      color: #e8e4da;
      text-align: right; }
      .main_box .main_right p {
        margin-bottom: 0; } }
  @media (max-width: 550px) {
    .main_box .main_left {
      font-weight: bold;
      font-size: 12px; }
      .main_box .main_left p {
        margin-bottom: 0; }
    .main_box .main_right {
      font-size: 10px;
      color: #e8e4da; }
      .main_box .main_right p {
        margin-bottom: 0; } }
  .main_box hr {
    margin-top: 30px;
    margin-bottom: 20px; }
  @media (min-width: 551px) {
    .main_box .display_con {
      display: inline-block; }
      .main_box .display_con #display_box {
        width: 71%;
        float: left;
        margin-right: 1%; }
      .main_box .display_con ul {
        overflow: hidden;
        margin-bottom: 0; }
        .main_box .display_con ul .display_side {
          width: 49%;
          padding-left: 1%;
          list-style: none;
          float: left;
          margin-bottom: 0; }
        .main_box .display_con ul img {
          width: 95%;
          cursor: pointer; } }
  @media (max-width: 550px) {
    .main_box .display_con {
      display: inline-block; }
      .main_box .display_con #display_box {
        width: 100%;
        margin-right: 1%; }
        .main_box .display_con #display_box img {
          width: 100%; }
      .main_box .display_con ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .main_box .display_con ul .display_side {
          width: 20%;
          list-style: none;
          margin-bottom: 0;
          float: left;
          text-align: center; }
        .main_box .display_con ul img {
          width: 95%;
          cursor: pointer; } }
  .main_box .cr_box {
    width: 100%;
    display: flex; }
  .main_box .cr_box2 {
    width: 100%;
    display: flex; }
  .main_box .cr_1 {
    background-color: #f9f8f6;
    width: 27%;
    line-height: 300%;
    float: left;
    font-size: 12px;
    border: solid 0.1px #E0E4D6; }
  .main_box .cr_2 {
    background-color: #f9f8f6;
    width: 38%;
    line-height: 300%;
    float: left;
    font-size: 12px;
    border: solid 0.1px #E0E4D6; }
  .main_box .cr_3 {
    width: 38%;
    line-height: 180%;
    float: left;
    font-size: 20px;
    border: solid 0.1px #E0E4D6; }
  .main_box .cr_box p {
    margin-bottom: 0;
    text-align: center;
    color: #887f69; }
  .main_box .cr_box2 p {
    margin-bottom: 0;
    text-align: center;
    color: #887f69; }
  .main_box .price_con {
    margin-top: 20px;
    float: left;
    width: 65%; }
    .main_box .price_con .price_box {
      width: 100%;
      border-top: solid 0.1px #E0E4D6;
      border-bottom: solid 0.1px #E0E4D6;
      line-height: 10px; }
      .main_box .price_con .price_box .price_in {
        float: left;
        padding-top: 11%; }
      .main_box .price_con .price_box p {
        text-align: center;
        padding-top: 10%;
        font-size: 15px; }
      .main_box .price_con .price_box b {
        color: #F42C71;
        font-size: 25px; }
    .main_box .price_con .qua_box {
      width: 100%;
      border-bottom: solid 0.1px #E0E4D6;
      float: left;
      line-height: 10px;
      padding-bottom: 20px; }
      .main_box .price_con .qua_box .qua_in {
        float: left;
        padding-top: 11%; }
      .main_box .price_con .qua_box .qua_p {
        width: 50%;
        height: 30px;
        margin-top: 20px;
        margin-left: 40%;
        border: solid 0.1px #E0E4D6; }
      .main_box .price_con .qua_box p {
        text-align: center;
        padding-top: 10%;
        font-size: 15px; }
  @media (max-width: 550px) {
    .main_box .price_con {
      float: none;
      width: 100%; } }
  .main_box .cart_in {
    width: 30%;
    display: inline-block;
    float: right;
    margin-top: 20px; }
  @media (max-width: 550px) {
    .main_box .cart_box {
      width: 100%;
      display: inline-block;
      text-align: center; }
      .main_box .cart_box .cart_in {
        width: 80%;
        float: none; } }
  .main_box .di_title {
    width: 100%;
    display: inline-block;
    margin-top: 40px; }
    .main_box .di_title p {
      font-weight: bold;
      color: #887f69;
      margin-bottom: 10px; }
  .main_box .ft_line2 {
    margin-top: 0;
    border-color: black; }
  .main_box .di_intitle p {
    font-weight: bold;
    color: #887f69; }
  .main_box .di p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0; }
  .main_box .di_box {
    width: 100%;
    margin-top: 20px;
    font-size: 10px;
    display: flex; }
  .main_box .di_box2 {
    width: 100%;
    margin-top: 0;
    font-size: 10px;
    display: flex; }
  .main_box .di_1 {
    width: 24.5%;
    background-color: #f9f8f6;
    float: left;
    border: solid 0.1px #E0E4D6; }
    .main_box .di_1 p {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px; }
  .main_box .di_2 {
    width: 75%;
    float: left;
    border: solid 0.1px #E0E4D6; }
    .main_box .di_2 p {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0 10px; }

@media (max-width: 550px) {
  .main_box {
    padding: 15px; } }
.items {
  overflow: hidden; }
  .items .item_box {
    background-color: white;
    padding: 1.5%;
    width: 30%;
    float: left;
    margin-right: 0.3%;
    margin-bottom: 0.3%; }
    .items .item_box img {
      width: 100%; }
    .items .item_box p {
      font-size: 10px;
      letter-spacing: 1px;
      margin-bottom: 10px; }
  @media (max-width: 550px) {
    .items .item_box {
      background-color: white;
      padding: 1.5%;
      width: 46.7%;
      float: left; } }

.bn_back {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  float: left; }

.bn_next {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right; }

bottom {
  background-color: #887f69;
  color: white;
  font-weight: bold;
  font-size: 11px;
  padding: 10px 30px; }

@media (min-width: 551px) {
  .pc_items_title {
    text-align: center;
    margin: 30px 0; }

  .sp_items_title {
    display: none; } }
@media (max-width: 550px) {
  .pc_items_title {
    display: none; }

  .sp_items_title {
    text-align: center;
    margin: 30px 0; } }
.footer_box {
  overflow: hidden;
  display: flex; }
  .footer_box .footer_box1 {
    background-color: white;
    width: 43%;
    padding: 20px;
    float: left; }
  .footer_box .footer_box2 {
    background-color: white;
    padding: 20px;
    float: right;
    margin-left: 2%;
    width: 43%; }
  .footer_box h6 {
    font-weight: bold;
    color: #887f69; }
  .footer_box .footer1 {
    font-weight: bold;
    color: #887f69;
    font-size: 12px;
    margin-bottom: 5px; }
  .footer_box .footer2 {
    font-size: 12px;
    margin-bottom: 10px; }

@media (max-width: 550px) {
  .footer_box {
    overflow: hidden;
    display: block; }
    .footer_box .footer_box1 {
      width: 100%;
      padding: 0;
      float: none; }
      .footer_box .footer_box1 .footer_inbox1 {
        padding: 5%; }
    .footer_box .footer_box2 {
      width: 100%;
      padding: 0;
      float: none;
      margin-left: 0;
      margin-top: 10px; }
      .footer_box .footer_box2 .footer_inbox2 {
        padding: 5%; } }
.search_box {
  background-color: white; }
  .search_box .in_box {
    padding: 17px 10px; }
    .search_box .in_box .itemserch_box {
      font-size: 0; }
    .search_box .in_box form {
      position: relative;
      margin-top: 5px; }
      .search_box .in_box form #search_btn1 {
        position: absolute;
        background-color: #eeeeee;
        border: none;
        width: 100%;
        height: auto;
        font-size: 10px; }
      .search_box .in_box form #search_btn2 {
        position: absolute;
        background-position: center;
        background-size: auto 90%;
        left: 88%;
        top: 3px; }

@media (max-width: 550px) {
  .search_box {
    margin-top: 10px; } }
.rink_box {
  background-color: #887f69;
  margin-top: 10px;
  position: relative; }
  .rink_box .rink_in {
    padding: 10px;
    vertical-align: middle; }
    .rink_box .rink_in .link {
      display: block;
      background-image: url("../images/top/next_icon_gray.png");
      background-repeat: no-repeat;
      background-position: 90%; }
    .rink_box .rink_in .categories {
      display: block;
      background-image: url("../images/top/down_icon.png");
      background-repeat: no-repeat;
      background-position: 90%; }

.categorie_box ul {
  list-style: none;
  text-align: justify;
  margin-bottom: 0; }
  .categorie_box ul li {
    line-height: 50px;
    margin-bottom: 1px;
    background-color: white; }
  .categorie_box ul a {
    color: #524c3e;
    font-size: 10px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: 90%; }

.rink_box2 {
  background-color: #887f69;
  margin-top: 10px;
  position: relative; }
  .rink_box2 .rink_in2 {
    padding: 10px;
    vertical-align: middle; }

.about_box {
  background-color: white;
  padding: 10px; }
  .about_box .about_in {
    display: inline-block; }
    @media (max-width: 550px) {
      .about_box .about_in .aaa {
        float: left;
        width: 47%;
        margin-right: 10px; } }
    .about_box .about_in p {
      font-size: 10px;
      letter-spacing: 1px;
      margin-bottom: 20px; }
  .about_box .more_btn {
    text-align: center; }
  @media (max-width: 550px) {
    .about_box .more_btn {
      padding-left: 50%;
      text-align: initial; } }

.page_top {
  padding-top: 50px; }
  .page_top a {
    float: right; }
    @media (max-width: 550px) {
      .page_top a {
        text-align: center;
        display: block;
        float: none; } }

.line_box .ft_line {
  margin-top: 10px; }

.foo p {
  text-align: center; }
.foo .foo1 {
  font-size: 12px; }
.foo .foo2 {
  font-size: 10px;
  color: #9DA5A2; }

/*# sourceMappingURL=pro.css.map */
