@charset "utf-8";

html {
  font-size: 12px;
  background-color: #f9f8f6;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$brown : #524c3e;
$graybrown : #887f69;


// ============== header start =================
header {
    
    @media (min-width: 551px) {
    #head_case {
        padding-top: 25px;
        padding-bottom: 25px;
        
            .logo {
                padding-top: 15px;
                width: 48%;
            
                h1 {
                    margin-bottom: 0;
                }
                .pclogo {
                    display: block;
                }
                .splogo {
                    display: none;
                }
            }
        }
    }
        
    @media (max-width: 550px) {
        .logo {
            padding-top: 5px;
            width: 100%;
            
            h1 {
                margin-bottom: 0;
                text-align: center;
            }
            .pclogo {
                display: none;
                }
            .splogo {
                display: inline-block;
            }
        }
    }
        
    @media (min-width: 551px) {
        .navi {
            padding-top: 40px;
            height: 80px;
            
            .pc_navi {
                display: flex;
                float: right;
                
                .pc_navi_li {
                    padding-right: 15px;
                }
                
                ul {
                    list-style: none;
                    letter-spacing: 10px;
                    
                    li {
                        display: inline-block;
                    }
                }
            } // pc_navi
            
            .sp_navi {
                display: none;
            }
            
        } // navi
    } // PCサイズ
        
    @media (max-width: 550px) {
        .navi {
            width: 100%;
            margin-left: initial;
            
            .pc_navi {
                display: none;
            }
            
            .sp_navi {
                text-align: center;
                
                #sp_navi_btn {
                    cursor: pointer;
                }
                
                .sp_sns_navi {
                    list-style: none;
                    letter-spacing: 20px;
                    margin-bottom: 0;
                    
                    li {
                        display: inline-block;
                        
                        
                    }
                }
                .sp_navi_li {
                    list-style: none;
                    border: 1px solid #eee;
                    background-color: white;
                    position: static;
                    display: none;
                    
                    li {
                        margin-bottom: 0;
                        
                        a {
                            display: block;
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            color: $brown;
                            font-size: 30px;
                        }
                    }
                }
            }
        } // navi
    } // spサイズ   
} // header end


// ======== ぱんくず =======================
.pan_box {
    width: 100%;
    background-color: #e8e4da;
    border-radius: 3px;
    
    ul {
        list-style: none;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    
    li {
        display: inline-block;
        margin: 5px 0;
    }
    a {
        color: $brown;
        font-size: 11px;
        text-decoration: none;
    }
}

@media (max-width: 550px) {
    .pan_box {
        width: auto;
        margin: 0 15px;
    }
}

// ============== main start ================= 
.main_box {
    background-color: white;
    padding: 60px;
    padding-top: 40px;
    
    @media (min-width: 551px) {
    .main_left {
        font-weight: bold;
        font-size: 12px;
        text-align: left;
        float: left;
        
        p {
            margin-bottom: 0;
        }
    }
    
    .main_right {
        font-size: 10px;
        color: #e8e4da;
        text-align: right;
        
        p {
            margin-bottom: 0;
        }
    }
    }
    @media (max-width: 550px) {
    .main_left {
        font-weight: bold;
        font-size: 12px;
        
        p {
            margin-bottom: 0;
        }
    }
    
    .main_right {
        font-size: 10px;
        color: #e8e4da;
        
        p {
            margin-bottom: 0;
        }
    }
    }
    
    hr {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    @media (min-width: 551px) {
    .display_con {
        display: inline-block;
        
        #display_box {
            width: 71%;
            float: left;
            margin-right: 1%;
        }
        
        ul {
            overflow: hidden;
            margin-bottom: 0;
            
            
            .display_side {
                width: 49%;
                padding-left: 1%;
                list-style: none;
                float: left;
                margin-bottom: 0;

            }
            img {
                width: 95%;
                cursor: pointer;
            }
        }
    }
    }
    
    @media (max-width: 550px) {
    .display_con {
        display: inline-block;
        
        #display_box {
            width: 100%;
            margin-right: 1%;
            
            img {
                width: 100%;
            }
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .display_side {
                width: 20%;
                list-style: none;
                margin-bottom: 0;
                float:left;
                text-align: center;
            }
            img {
                width: 95%;
                cursor: pointer;
            }
        }
    }
    }
    
// ****** color size ******    
    .cr_box {
        width: 100%;
        display: flex;
    }    
        
    .cr_box2 {
        width: 100%;
        display: flex;    
    }
    
    .cr_1 {
        background-color: #f9f8f6;
        width: 27%;
        line-height: 300%;
        float: left;
        font-size: 12px;
        border: solid 0.1px #E0E4D6;
    }
    .cr_2 {
        background-color: #f9f8f6;
        width: 38%;
        line-height: 300%;
        float: left;
        font-size: 12px;
        border: solid 0.1px #E0E4D6;
    }
    .cr_3 {
        width: 38%;
        line-height: 180%;
        float: left;
        font-size: 20px;
        border: solid 0.1px #E0E4D6;
    }
        
    .cr_box p {
        margin-bottom: 0;
        text-align: center;
        color: $graybrown;
    }
    
    .cr_box2 p {
        margin-bottom: 0;
        text-align: center;
        color: $graybrown;
    }

// ****** price ******    
    .price_con{
        margin-top: 20px;
        float: left;
        width: 65%;
        
        .price_box {
            width: 100%;
            border-top: solid 0.1px #E0E4D6;
            border-bottom: solid 0.1px #E0E4D6;
            line-height: 10px;
        
            .price_in {
                float: left;
                padding-top: 11%;
            }
            p {
                text-align: center;
                padding-top: 10%;
                font-size: 15px;
            }
            b {
                color: #F42C71;
                font-size: 25px;
            }
        }

        .qua_box {
            width: 100%;
            border-bottom: solid 0.1px #E0E4D6;
            float: left;
            line-height: 10px;
            padding-bottom: 20px;
        
            .qua_in {
                float: left;
                padding-top: 11%;
            }
            
            .qua_p {
                width: 50%;
                height: 30px;
                margin-top: 20px;
                margin-left: 40%;
                border: solid 0.1px #E0E4D6;
            }
            p {
                text-align: center;
                padding-top: 10%;
                font-size: 15px;
            }
        }
    }
    
    @media (max-width: 550px) {
    .price_con{
        float: none;
        width: 100%;    
    }
    }
        
    .cart_in {
        width: 30%;
        display: inline-block;
        float: right;
        margin-top: 20px;
    }
    
    @media (max-width: 550px) {
    .cart_box {
        width: 100%;
        display: inline-block;
        text-align: center;
        
        .cart_in {
            width: 80%;
            float: none;
        }
    }
    }

// ****** 商品説明 ******    
    .di_title {
        width: 100%;
        display: inline-block;
        margin-top: 40px;
        
        p {
            font-weight: bold;
            color: $graybrown;
            margin-bottom: 10px;
        }
    }
    
    .ft_line2 {
        margin-top: 0;
        border-color: black;
    }
    
    .di_intitle {
        p {
            font-weight: bold;
            color: $graybrown;
        }
    }
    
    .di {
        p {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 0;
        }
    }


// ****** 商品説明box ******    
    .di_box {
        width: 100%;
        margin-top: 20px;
        font-size: 10px;
        display: flex;
    }
    
    .di_box2 {
        width: 100%;
        margin-top: 0;
        font-size: 10px;
        display: flex;
    }
        
    .di_1 {
        width: 24.5%;
        background-color: #f9f8f6;
        float: left;
        border: solid 0.1px #E0E4D6;
        
        p {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        }
    }
    .di_2 {
        width: 75%;
        float: left;
        border: solid 0.1px #E0E4D6;
    
        p {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0 10px;
        }
    }
}

@media (max-width: 550px) {
    .main_box {
        padding: 15px;
    }
}

.items {
    overflow: hidden;
    
    .item_box {
        background-color: white;
        padding: 1.5%;
        width: 30%;
        float: left;
        margin-right: 0.3%;
        margin-bottom: 0.3%;
        
        img {
            width: 100%;
        }
        
        p {
            font-size: 10px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
    }
    
    @media (max-width: 550px) {
        .item_box {
            background-color: white;
            padding: 1.5%;
            width: 46.7%;
            float: left;
        }
    }
}


.bn_back {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    float: left;
}
    
.bn_next {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
}
    
bottom {
    background-color: $graybrown;
    color: white;
    font-weight: bold;
    font-size: 11px;
    padding: 10px 30px;
}

@media (min-width: 551px) {
    .pc_items_title {
        text-align: center;
        margin: 30px 0;
    }
    .sp_items_title {
        display: none;
    }
}

@media (max-width: 550px) {
    .pc_items_title {
        display: none;
    }
    .sp_items_title {
        text-align: center;
        margin: 30px 0;
    }
}    

// ============== guide start ================
.footer_box {
    overflow: hidden;
    display: flex;
    
    .footer_box1 {
        background-color: white;
        width: 43%;
        padding: 20px;
        float: left;
    }

    .footer_box2 {
        background-color: white;
        padding: 20px;
        float: right;
        margin-left: 2%;
        width: 43%;
    }    

    h6 {
        font-weight: bold;
        color: $graybrown;
    }
    .footer1 {
        font-weight: bold;
        color: $graybrown;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .footer2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (max-width: 550px) {
    .footer_box {
        overflow: hidden;
        display: block;
        
        .footer_box1 {
            width: 100%;
            padding: 0;
            float: none;
            
            .footer_inbox1 {
                padding: 5%;
            }
        }
        .footer_box2 {
            width: 100%;
            padding: 0;
            float: none;
            margin-left: 0;
            margin-top: 10px;
            
            .footer_inbox2 {
                padding: 5%;
            }
        }
    }
}
    

// ============== side start =================

.search_box {
    background-color: white;
    
    .in_box {
        padding: 17px 10px;
        
        .itemserch_box {
            font-size: 0;
        }
        
        form {
            position: relative;
            margin-top: 5px;
            
            #search_btn1 {
                position: absolute;
                background-color: #eeeeee;
                border: none;
                width: 100%;
                height: auto;
                font-size: 10px;

            }
            #search_btn2 {
                position: absolute;
                background-position: center;
                background-size: auto 90%;
                left: 88%;
                top: 3px;
            }
        }
    }
}

@media (max-width: 550px) {
    .search_box {
        margin-top: 10px;
    }
}

.rink_box {
    background-color: $graybrown;
    margin-top: 10px; 
    position: relative;
    
    .rink_in {
        padding: 10px;
        vertical-align: middle;
    
        .link {
            display: block;
            background-image: url("../images/top/next_icon_gray.png");
            background-repeat:no-repeat;
            background-position: 90%;
        }
         .categories {
            display: block;
            background-image: url("../images/top/down_icon.png");
            background-repeat:no-repeat;
            background-position: 90%;
        }
    }
}

.categorie_box {
    
    ul {
        list-style: none;
        text-align: justify;
        margin-bottom: 0;
        
        li {
            line-height: 50px;
            margin-bottom: 1px;
            background-color: white;
        }
        
        a {
            color: $brown;
            font-size: 10px;
            text-decoration: none;
            display: block;
            font-weight: bold;
            letter-spacing: 2px;
            
            background-image: url("../images/top/next_icon_gray.png");
            background-repeat:no-repeat;
            background-position: 90%;
        }
    }
}

.rink_box2 {
    background-color: $graybrown;
    margin-top: 10px; 
    position: relative;
    
    .rink_in2 {
        padding: 10px;
        vertical-align: middle;
    }
}

.about_box {
    background-color: white;
    padding: 10px;
    
    .about_in {
        display: inline-block;
    
        @media (max-width: 550px) {
            .aaa {
                float: left;
                width: 47%;
                margin-right: 10px;
            }
        }
    
        p {
            font-size: 10px;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
    } 
    .more_btn {
        text-align: center;
    }
    @media (max-width: 550px) {
        .more_btn {
            padding-left: 50%;
            text-align: initial;
        }
    }
}


// ================== footer =========================
.page_top {
    padding-top: 50px;
    
    a {
        float: right;
        
        @media (max-width: 550px) {
            text-align: center;
            display: block;
            float: none;
            
        }
    }
}

.line_box {
    .ft_line {
        margin-top: 10px;
    }
}

.foo {
    p {
        text-align: center;
    }
    .foo1 {
        font-size: 12px;
    }
    .foo2 {
        font-size: 10px;
        color: #9DA5A2;
    }
}